﻿@model List<Dictionary<String,String>>
@{
    Layout = null;
    Response.ContentType = "text/xml";

    string urlaction = Telephone_Interface.Models.ConnectionRepository.INTERFACEURL + "Home/Call_Option_Schedules_Again/1?EmpCode=" + ViewBag.EmployeeCode;
    string urlaction_redirect = Telephone_Interface.Models.ConnectionRepository.INTERFACEURL + "Home/Call_Options";
}
<Response>
    
    @if(@Model.Count == 0)
    {
        <Say>You have no schedules today.</Say>
    }

    @if(@Model.Count == 1)
    {
        <Say>You have 1 shift today..</Say>
    }

    @if(@Model.Count > 1)
    {
        <Say>You have @Model.Count shifts today..</Say>
    }
            
    @if(@Model.Count > 0)    
    {
        for(int nIndex=1;nIndex<=@Model.Count;nIndex++)
        {
            <Say>
                Shift @nIndex . Starts at @Convert.ToDateTime(Model[nIndex-1]["StartTime"]).ToString("h:mm tt") , and ends at @Convert.ToDateTime(Model[nIndex-1]["EndTime"]).ToString("h:mm tt") , the site is ,, @Model[nIndex-1]["SiteDescr"] ,,, the job role is a , ,  @Model[nIndex-1]["Descr"] . .
            </Say>

            if (@Model[nIndex - 1]["Notes"] != "")
            {
                <Say>Also there are some notes,,, @Model[nIndex - 1]["Notes"] </Say>
            }
        }
    }

    <Gather numDigits="1" action="@urlaction" method="POST">
        <Say>
            press 1 to hear the schedules again. or press any other key to go back to the menu.
        </Say>
    </Gather>

    <Redirect method="GET">
        @urlaction_redirect
    </Redirect>
</Response>




