﻿@model Dictionary<String,String>
@{
    Layout = null;
    Response.ContentType = "text/xml";
    string empCode = Request["Digits"];

    string urlaction = Telephone_Interface.Models.ConnectionRepository.INTERFACEURL + "Home/Call_RecordAttendance_Option/1?EmpCode=" + empCode;
    string urlaction2 = Telephone_Interface.Models.ConnectionRepository.INTERFACEURL + "Home/Call_Options/1?Digits=1";
}
<Response>
    <Gather numDigits="1" action="@urlaction" method="POST">
        <Say>
            Thank you, press 1 to confirm you are @Model["Forename"] @Model["Surname"] . Press 2 if that was incorrect
        </Say>
    </Gather>

    <Redirect method="GET">
        @urlaction2
    </Redirect>
</Response>




