﻿@{
    Layout = null;
    Response.ContentType = "text/xml";
}
<Response>
    <Say>Your attendance has been recorded, @ViewBag.PunchTime at . Thank you for using the maxtime call service, Good Bye.</Say>
</Response>




